/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f9f9f9;
  color: #111;
  min-height: 100vh;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

/* Botão de retorno */
.botao_retorno {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-decoration: none;
  background: #111;
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.botao_retorno:hover {
  background: #333;
}

/* Caixa de formulário centralizada */
.formulario {
  background: #fff;
  max-width: 500px;
  width: 90%;
  padding: 40px 30px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 25px; /* Espaço entre os campos */
}

.formulario h2 {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 10px;
}

/* Inputs */
.formulario input {
  width: 100%;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background: #fff;
  color: #333;
  transition: border 0.2s, box-shadow 0.2s;
  margin-bottom: 5px;
}

.formulario input:focus {
  border-color: #111;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
  outline: none;
}

/* Botão */
.formulario button {
  padding: 14px;
  background: #111;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s;
  margin-top: 15px;
}

.formulario button:hover {
  background: #333;
}

.header-right a.active {
  color: #ff751f;
  font-weight: bold;
}
